aclocal.m4
debian/README
bogofilter-wordlist.spec
bogofilter-wordlist.changes
configure
install-sh
m4/*
Makefile.in
missing
training
debian/*.dsc
debian/debian.tar.gz
debian/dummy.tar.gz
debian/rules
debian/copyright
debian/control
create_rpm
autom4te.cache
Makefile
config.log
config.status
debian/changelog
conf-version
PKGBUILD
