Source: iwebadmin
Section: misc
Priority: extra
Maintainer: Manvendra Bhangui <mbhangui@gmail.com>
Standards-Version: 3.9.1
Homepage: https://github.com/mbhangui/indimail-virtualdomains

Package: iwebadmin
Architecture: any
Depends: ${misc:Depends} ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Web Administration GUI for IndiMail User Administration
 .
 iwebadmin provides a Web frontend for administering IndiMail Users
