Source: indium
Section: misc
Priority: extra
Maintainer: Manvendra Bhangui <mbhangui@gmail.com>
Standards-Version: 3.9.1
Build-Depends: cdbs, debhelper (>= 9), gcc, g++, m4, autotools-dev, tcl-dev
Homepage: http://indimail.sourceforge.net

Package: indium
Architecture: any
Depends: tcl8.6-dev, libmysqlclient16 (>= 5.1.21-1), ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Web Administration GUI for IndiMail User Administration
 .
 indium provides a TCL/TK frontent for administering IndiMail Users
