Source: logalert
Section: misc
Priority: extra
Maintainer: Manvendra Bhangui <mbhangui@gmail.com>
Standards-Version: 3.9.1
Homepage: http://indimail.sourceforge.net
Build-Depends: cdbs, debhelper (>= 10), gcc, g++, m4, autotools-dev, libqmail-dev, libpcre3-dev, flex, bison

Package: logalert
Architecture: any
Description: log archival and analysis
 .
 logalert provides tools for log archival and analysis
