netqmail-addons
osc
packages
private
rpmbuild
ilmgrd-1.0
icampaign-1.0
dist
COMMIT_ID
VERSION
MTA_VERSION
patches
cscope.*
*.BAK
RCS
stage
indimail-spamfilter-x/Makefile.in
ircube-x/Makefile
.github/indimail-virtualdomains.wiki
.github/indimail-mta.wiki
conf-release
configure~
config.h.in~
config.in~
config.guess~
config.sub~
configure.ac~
