conf-release
indimail-utils.spec
doc
debian/changelog
debian/changelog.in
debian/Makefile
debian/debian.tar.gz
debian/dummy.tar.gz
debian/rules
debian/obs_deb_prep
debian/*.dsc
debian/indimail-utils.install
