configure
Makefile.in
INSTALL
*.gz
aclocal.m4
./configure
missing
depcomp
m4
install-sh
autom4te.cache
config.log
config.status
ChangeLog
README.urls
conf-release
debian/ircube.dsc
debian/changelog
debian/copyright
debian/control
ircube.spec
ircube.changes
PKGBUILD
Makefile
ircube-release
