Source: indimail
Section: mail
Priority: extra
Maintainer: Manvendra Bhangui <indimail-virtualdomains@indimail.org>
Standards-Version: 3.9.1
Build-Depends: cdbs, debhelper (>= 7.0.50~), gcc, g++, automake, libqmail-dev, libqmail, libssl-dev, libncurses5 (>= 5.7), libncurses5-dev (>= 5.7), mime-support, m4, gawk
Homepage: https://github.com/mbhangui/indimail-virtualdomains

Package: indimail
Architecture: any
Pre-Depends: indimail-mta, indimail-access, virtual-mysql-server, mrtg
Recommends: indimail-auth
Conflicts: indimail (< 2.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, net-tools, coreutils, binutils, findutils, procps
Provides: libindimail
Replaces: libindimail
Description: IndiMail is a messaging platform providing multi-cluster domain support.
 It provides IMAP/POP3 protocol using Courier Imap, SPAM filtering using
 bogofilter (A Bayesian Spam Filter), mail retreival using Fetchmail.
 Additionally it packages other useful utilities like mpack, unpack,
 altermime, ripmime, fortune, flash.
 .
 IndiMail provides ability for a single domain to have users across multiple
 hosts (even across different geographical locations) and tools to manage
 virtual domains.

Package: indimail-devel
Depends: ${misc:Depends}, findutils, coreutils, binutils
Section: devel
Architecture: any
Description: IndiMail - Development header files and libraries
 This package contains the development header files and libraries
 necessary to develop IndiMail client applications.

Package: libindimail
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Description: IndiMail - Development libraries
 This package contains the development libraries
 necessary to develop IndiMail client applications.
