iwebadmin.spec
*-rpmlintrc
qmailadmin.release
iwebadmin
Makefile
Makefile.in
aclocal.m4
configure
config.h.in
missing
mkinstalldirs
config.guess
config.sub
depcomp
install-sh
obs.mk
iwebadmin.perms
compile
debian/obs.mk
debian/*.gz
debian/iwebadmin-*.dsc
debian/*.dsc
debian/postinst
debian/postrm
debian/rules
debian/changelog
debian/README
debian/control
debian/copyright
iwebadmin.changes
ltmain.sh
m4
.deps
autom4te.cache
config.h
config.log
config.status
libtool
stamp-h1
*.o
conf-release
iwebadmin-permissions.easy
iwebadmin-permissions.paranoid
iwebadmin-permissions.secure
