aclocal.m4
autom4te.cache
common.tcl
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conf-release
debian/changelog
debian/control
debian/copyright
debian/*.dsc
debian/*.gz
debian/indium.install
debian/postinst
debian/postrm
debian/README
debian/rules
fileman.tcl
FMbrowse
indium
indium.changes
indium-rpmlintrc
indium.spec
install-sh
kd
*.la
.libs
libtool
litesrc
*.lo
ltmain.sh
m4
Makefile
Makefile.in
missing
*.o
obs.mk
pwhelper
secpanel
stamp-h1
supernotepad
tkdiff
PKGBUILD
indium-release
